/* Theme base styles */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
/* Tools
Any animations, or functions used throughout the project.
Note: _macros.css needs to be imported into each stylesheet where macros are used and not included here
*/
:root {
  --primary-color: #0D2754;
  --secondary-color: #B8A050;
  --accent-color: #C8102E;
  --primary-color-black: #071730;
  --text-color: #72706A;
  --heading-color: #161616;
  --legal-color: #455164;
  --font-family-base: 'Playfair Display', 'Roboto', sans-serif;
  --font-family-secondary: 'Plus Jakarta Sans', 'Roboto', sans-serif;
  --font-size-base: 16px;
  --font-size-button: 18px;
  --font-size-disclaimer:10px;
  --font-size-heading: clamp(30px, 1.9vw, 40px);
  --font-size-heading-big: clamp(1.75rem, 2.5vw, 2.2rem);
  --font-size-subheading: 40px;
  --letter-spacing-base: 3px;
  --font-weight-base: 400;
  --font-weight-thin: 200;
  --font-weight-heading: 500;
  --font-weight-heading-black: 700;
  --padding-btn: 10px 20px;
}

/* Generic
This is where reset, normalize & box-sizing styles go.
*/

{% include './generic/_reset.css' %}
{% include './generic/_normalize.css' %}

/* Objects
Non-cosmetic design patterns including grid and layout classes)
*/

{% include './objects/_layout.css' %}
{% include './objects/_containers-dnd.css' %}

/* Elements
Base HTML elements are styled in this section (<body>, <h1>, <a>, <p>, <button> etc.)
*/

{% include './elements/_typography.css' %}
{% include './elements/_buttons.css' %}
{% include './elements/_forms.css' %}
{% include './elements/_tables.css' %}

/* Components
Specific pieces of UI that are stylized. Typically used for global partial styling
*/

{% include './components/_header.css' %}
{% include './components/_footer.css' %}
{% include './components/_hero-home.css' %}
{% include './components/_hero-modelo.css' %}
{% include './components/_detalle-modelo.css' %}
{% include './components/_respaldo-vinte.css' %}
{% include './components/_amenidades.css' %}
{% include './components/_ubicacion.css' %}
{% include './components/_modelos-disponibles.css' %}
{% include './components/_credito-hipotecario.css' %}
{% include './components/_preguntas-frecuentes.css' %}
{% include './components/_contacto.css' %}
{% include './components/_default-modules.css' %}

/* Utilities
Helper classes with ability to override anything that comes before it
*/

{% include './utilities/_helper.css' %}

html {
  scroll-behavior: smooth;
}
body *{
  font-family: "Playfair Display", serif;
}
p {
  font-family: "Plus Jakarta Sans", sans-serif !important;
}