<!--
  templateType: page
  isAvailableForNewContent: true
  label: Home
  screenshotPath: ../images/template-previews/home.png
-->
{% extends "./layouts/base.html" %}

{% block body %}

{# All templates are recommended to have an h1 present for both accessibility and SEO best practice. This should be at the top of the template before any other textual content. The h1 element below is within a dnd area to allow content editors the ability to adjust the content and alignment of the text. #}

{% dnd_area "dnd_area"
  label="Main section",
  class="body-container body-container--home"
%}

  {# Hero home #}

  {% include_dnd_partial path="../sections/hero-home.html" %}

  {# Respaldo Vinte #}

  {% include_dnd_partial path="../sections/respaldo-vinte.html" %}

  {# Amenidades to #}

  {% include_dnd_partial path="../sections/amenidades-home-top.html" %}

  {# Amenidades #}

  {% include_dnd_partial path="../sections/amenidades.html" %}

  {# Ubicación #}

  {% include_dnd_partial path="../sections/ubicacion.html" %}

  {# Modelos disponibles #}

  {% include_dnd_partial path="../sections/modelos-disponibles.html" %}

{% end_dnd_area %}
{% endblock body %}
