button,
.button,
.hs-button {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  transition: all 0.15s linear;
  white-space: normal;
}

button:disabled,
.button:disabled,
.hs-button:disabled {
  background-color: #D0D0D0;
  border-color: #D0D0D0;
  color: #E6E6E6;
}

/* No button */

.no-button,
.no-button:hover,
.no-button:focus,
.no-button:active {
  background: none;
  border: none;
  border-radius: 0;
  color: initial;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  margin-bottom: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  transition: none;
}

.cta__bordered .button {
  font-family: var(--font-family-secondary);
  align-items: center;
  background-color: transparent;
  border: 1px solid var(--primary-color);
  border-radius: 999px;
  color: var(--primary-color);
  display: inline-flex;
  font-size: 0.9375rem;
  font-weight: 600;
  gap: 0.5rem;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  margin-top:30px;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

.cta__bordered .button:hover,
.cta__bordered .button:focus {
  background-color: #ffffff;
  border-color: #000000;
  color: #000000;
  border-radius: 999px;
  transform: translateY(-1px);

}